body {
    background-color: #FB6B6B;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.initial{
    font-family: 'Righteous', cursive;;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 200px auto;
}

.buttom{
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #D70900;
    margin-top: 35px;
}

.logo1{
    width: 136px;
    height: 161px;
    margin-bottom: 20px;
}
