body {
    background-color: #FB6B6B;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.initial{
    font-family: 'Righteous', cursive;;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 50vw auto;
}

.buttom{
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #D70900;
    margin-top: 35px;
}

.logo1{
    width: 136px;
    height: 161px;
    margin-bottom: 20px;
}

.initial2{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction:row;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #FFFFFF;
    background-color:#FB6B6B;
    align-items: flex-end;
}

.logo2{
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

.cards{
    position: relative;
    margin-top: 150px;
    margin-bottom: 70px;
    overflow: scroll;
}

.card{
    flex-direction: row;
    justify-content:flex-start;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 25px;
    font-family: 'Recursive', sans-serif;
}

.card ion-icon{
    color: #333333;
    width: 30px;
    height: 30px;
    margin-left: 150px;
}

.fundo{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}

.selected{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 16px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 299px;
    height: 131px;
}

.setinha{
    width: 100%;
    align-items: flex-end;
}

.setinha img{ 
    color: #333333;
    width: 30px;
    height: 20px;
}